/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  background-color: #fff;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

body {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  color: #222;
  margin: 50px auto;
  padding: 0 80px 60px;
  max-width: 900px;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #2244aa;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #1630a0;
  text-decoration: underline;
}

body,
td,
th,
tr,
p,
a,
li {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
}

p {
  margin: 0.4em 0 0.6em 0;
  font-size: 16px;
  line-height: 1.6;
}

ul {
  padding-left: 1.4em;
  margin: 0.4em 0 0.6em 0;
}

li {
  margin: 0.3em 0;
  line-height: 1.6;
}

#footer {
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: none;
  color: #666;
  font-size: 14px;
}

#footer a {
  color: #666;
  text-decoration: underline;
}

#footer a:hover,
#footer a:focus {
  color: #666;
  text-decoration: underline;
}

#footer-text {
  color: #666;
  font-size: 14px;
  text-align: center;
}

h2 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-weight: bold;
  color: #222;
  border-bottom: none;
  padding-bottom: 0;
  margin-top: 2rem;
  margin-bottom: 0.6em;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 1.35rem;
}

.pub-legend {
  margin: -0.2em 0 0.6em 0;
  font-size: 0.85rem;
  color: #666;
}

.papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin: 0 0 0.3em 0;
  line-height: 1.4;
}

.name {
  margin: 0 0 0.25em 0;
  padding-bottom: 0;
  border-bottom: none;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #222;
  line-height: 1.2;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.mark{
  font-family: "STIX Two Text","STIXGeneral","Times New Roman","Cambria Math","Noto Serif",serif;
  font-weight: 400;
}

.supmark{
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

.supmark_1{
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 0.72em;
  margin-left: -0.12em;
  vertical-align: 0.35em;
  line-height: 0;
  font-weight: 400;
}
